// Responsive
$break-point: 800px;

// Colors
$background-color: #21243f;
$tile-color: #3c4166;
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$yellow: #f1c40f;
$orange: #e67e22;
$red: #e74c3c;
