// Responsive
$small: 900px;
$large: 1800px;

// Colors
$secondary-font: rgba(255, 255, 255, 0.3);
$background-color: #21243f;
$tile-color: #3c4166;
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$yellow: #f1c40f;
$orange: #e67e22;
$red: #e74c3c;
